[package]
name = "subduction_wasm"
version = "0.1.0"
description = "Wasm bindings for Sedimentree Sync"

categories = ["web-programming"]
keywords = ["subduction", "websocket"]
readme = "./README.md"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
async-channel = { workspace = true }
base58 = { workspace = true }
bincode = { version = "2.0", features = ["serde"] }
build_info = { path = "../build_info" }
console_error_panic_hook = { version = "0.1.7", optional = true }
from_js_ref = "0.1.2"
futures = { workspace = true }
futures-util = { workspace = true }
getrandom = { version = "0.3.3", features = ["wasm_js"] }
js-sys = { workspace = true }
rand = { workspace = true }
sedimentree_core = { path = "../sedimentree_core", features = ["serde"] }
subduction_core = { path = "../subduction_core", features = ["serde"] }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
wasm-bindgen = { workspace = true }
wasm-bindgen-futures = { workspace = true }
wasm_refgen = { workspace = true }

[dependencies.web-sys]
version = "0.3.81"
features = [
  "BinaryType",
  "DomException",
  "DomStringList",
  "IdbCursorWithValue",
  "IdbDatabase",
  "IdbFactory",
  "IdbIndex",
  "IdbKeyRange",
  "IdbObjectStore",
  "IdbObjectStoreParameters",
  "IdbOpenDbRequest",
  "IdbTransaction",
  "IdbTransactionMode",
  "IdbVersionChangeEvent",
  "MessageEvent",
  "ServiceWorkerGlobalScope",
  "Url",
  "WebSocket",
  "Window"
]

[features]
default = ["console_error_panic_hook"]
console_error_panic_hook = ["dep:console_error_panic_hook"]

[lints]
workspace = true
