name: Test Wasm

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test-wasm-native:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Install dependencies
        run: cd ./subduction_wasm && npm i
      - name: Install Playwright Browsers
        run: cd ./subduction_wasm && pnpm i && pnpm exec playwright install --with-deps

      - name: Test on Wasm (Node)
        run: wasm-pack test --node subduction_wasm

      - name: Test in browsers
        run: wasm-pack build ./subduction_wasm --release --target=web && cd ./subduction_wasm && pnpm i && npm install --global http-server && pnpm exec playwright test

  test-wasm-nix:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v26
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Test Wasm via Nix
        run: nix develop --command test:wasm:node
