name: Test Default Features on Host

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test-matrix:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            runner: ubuntu
          - os: macos-latest
            runner: macos

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Test Default (Native Cargo)
      run: cargo test --features arbitrary

    - name: Run Doc Tests
      run: cargo test --doc --workspace

  test-nix:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v21

    - name: Setup Nix cache
      uses: DeterminateSystems/magic-nix-cache-action@v13

    - name: Setup Cachix
      uses: cachix/cachix-action@v15
      if: ${{ !github.event.pull_request.head.repo.fork }}
      with:
        name: inkandswitch
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

    - name: Test via Nix
      run: nix develop --command test:host
